/DiceRoller/*.iml
/DiceRoller/.gradle
/DiceRoller/local.properties
/DiceRoller/.idea/caches
/DiceRoller/.idea/libraries
/DiceRoller/.idea/modules.xml
/DiceRoller/.idea/workspace.xml
/DiceRoller/.idea/navEditor.xml
/DiceRoller/.idea/assetWizardSettings.xml
/DiceRoller/.DS_Store
/DiceRoller/build
/DiceRoller/captures
/DiceRoller/.externalNativeBuild
/DiceRoller/.cxx
/DiceRoller/local.properties
